Notebook for quickly testing new functions.

In [1]:
from glum import GeneralizedLinearRegressor, TweedieDistribution

In [2]:
from dask_ml.preprocessing import Categorizer

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


from lightgbm import LGBMRegressor
from sklearn.compose import ColumnTransformer
from sklearn.metrics import auc
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, SplineTransformer, StandardScaler

In [1]:
from ps3.data import load_transform
import huggingface_hub

In [2]:
df = load_transform()

/Users/lsahar/miniconda3/envs/ps3/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
df.head()

,IDpol,ClaimNb,Exposure,Area,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Density,Region,ClaimAmount,ClaimAmountCut
0,1,0,0.10,D,5,0,5,50,B12,Regular,1217,R82,0.0,0.0
1,3,0,0.77,D,5,0,5,50,B12,Regular,1217,R82,0.0,0.0
2,5,0,0.75,B,6,1,5,50,B12,Diesel,54,R22,0.0,0.0
3,10,0,0.09,B,7,0,4,50,B12,Diesel,76,R72,0.0,0.0
4,11,0,0.84,B,7,0,4,50,B12,Diesel,76,R72,0.0,0.0

In [3]:
from ps3.data import create_sample_split

In [4]:
df_split = create_sample_split(df, "IDpol")
df_split.head()

,IDpol,ClaimNb,Exposure,VehPower,VehAge,DrivAge,BonusMalus,VehBrand,VehGas,Area,Density,Region,ClaimAmount,ClaimAmountCut,sample
0,1.0,0,0.10,5,0,5,50,B12,Regular,D,1217,Rhone-Alpes,0.0,0.0,train
1,3.0,0,0.77,5,0,5,50,B12,Regular,D,1217,Rhone-Alpes,0.0,0.0,train
2,5.0,0,0.75,6,1,5,50,B12,Diesel,B,54,Picardie,0.0,0.0,train
3,10.0,0,0.09,7,0,4,50,B12,Diesel,B,76,Aquitaine,0.0,0.0,train
4,11.0,0,0.84,7,0,4,50,B12,Diesel,B,76,Aquitaine,0.0,0.0,test